/* Heading styling for all 3 pages */
.page-header {
	color: rgb(89, 170, 165);
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	margin: 30px 0px 25px 5px;
	padding-top: 20px;
}

/* Main background with color and texture */
body { 
	background-color: rgb(237, 237, 237);
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
	padding-bottom: 120px;
}

/* Padding for navbar links */
ul {
	padding: 10px;
}

/* Styling to make HR thicker and match wireframe */
hr {
	border: 2px solid rgb(228, 228, 228);
}

/* Class used for extra padding */
.padding {
	padding: 15px;
}

/* White background for the main content of each page */
main {
	background: white;
	padding-bottom: 20px;
}

/* Used for the labels on the contact page (above the forms) */
label {
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Specific styling for the Navbar-Brand */
.navbar-brand {
	font-family: 'Times New Roman', Times, serif;
	background:  rgb(89, 170, 165);
	color: white !important;
	padding: 25px;
	font-size: 35px !important;
	font-weight: bold;
}

/* Specific CSS Styling for buttons */
  .btn {
	background-color:rgb(89, 170, 165);
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	font-weight: 400;
	color: #fff !important;
	text-align: center;
	user-select: none;
	padding: 0.375rem 1.25rem;
	font-size: 20px;
  }

/* Text styling for About Me Page */
 article {
	 line-height: 1.5;
	 font-family: Arial, Helvetica, sans-serif;
 }

 /* Footer class for all the pages. */
 .footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:rgb(102, 102, 102);
	color: lightgrey;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 30px 0px;
	border-top: 5px solid rgb(89, 170, 165);
 }
  
 /* This media query stretches the navbar-brand to 100% at a screen width anything less than 640px */
  @media only screen and (max-width: 640px) {
	.navbar-brand {
	  width: 100%;
	  text-align: center;
	  margin: 0px;
	}

	}

	/* This media query pushes the main content to the left if screen-width is 980 or greater; matching the wireframe  */
	@media only screen and (min-width: 980px) {
		main {
		  margin-left: 1.5rem;
		  padding-bottom: 50px;
		}
	  }