#jacobhoss {
	background-color: rgb(89, 170, 165);
	padding: 30px;
}

body { 
	background-color: rgb(237, 237, 237);
background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

ul {
	padding: 10px;
}

main {
	background: white;
	padding-bottom: 20px;
}

@media 